<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>base</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="{{ reverse_url('home') }}">bookmarks</a></h3>
          <form action="">
            <input type="text" placeholder="Search" id="q">
          </form>
          <ul class="nav">
            <li><a href="{{ reverse_url('new') }}">+ New Bookmark</a></li>
            <li><a href="{{ reverse_url('import') }}">↑ Import Bookmarks</a></li>
          </ul>
          <ul class="nav secondary-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle">
                {{ current_user.name }}</a>
              <ul class="dropdown-menu">
                <li><a href="{{ reverse_url('logout') }}">Log out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="sidebar">
      {% block sidebar %}
        <h4>Bookmarklet</h4>
        <p>
          <a href="" class="btn primary drag">Drag me to bookmarks bar</a>
        </p>
        <h4>Timeline</h4>
        <ul class="unstyled">
          <li><a href="">2011 August</a></li>
          <li><a href="">2011 July</a></li>
          <li><a href="">2011 June</a></li>
        </ul>
        <h4>Tags</h4>
        {% for tag in popular_tags %}
          <a href="{{ reverse_url('home') }}?tag={{ tag.name }}">{{ tag.name }} ({{ tag.count }})</a> •
        {% end %}
        <a href="{{ reverse_url('tags') }}">See all tags</a>
      {% end %}
    </div>
    <div class="content">
      {% block content %}{% end %}
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
  <script src="/static/app.js"></script>
  {% block scripts %}{% end %}
</body>
</html>
