{% extends "base.html" %}

{% block content %}
  <h3>Import Your Bookmarks</h3>

  <form action="{{ reverse_url('import') }}" method="post" enctype="multipart/form-data">
    {% raw xsrf_form_html() %}
    <p><input type="file" name="file"></p>
    <input type="submit" class="btn" value="Import My Bookmarks">
  </form>

  <h4>Get your local bookmarks from your browser</h4>
  <ol>
    <li>
      <p>
        Click File on menu.<br>
        <img src="/static/images/safari-menu.png">
      </p>
    </li>
    <li>
      <p>Click Export Bookmarks... item</p>
      <img src="/static/images/safari.png">
    </li>
    <li>
      <p>Save the file and then upload that file from the form in this page above.</p>
    </li>
  </ol>

  <h4>Get your bookmarks from delicious</h4>
  <p>
    Click this button and download your bookmarks file to your machine. After
    that, upload that file from the form in this page above.<br>
    <a href="https://secure.delicious.com/settings/bookmarks/export" class="btn">Export</a>
  </p>

{% end %}